<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-white" href="/">타임 트래커</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- 안되는 것을 되게하라 -->
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/edit">Time tracking</a>
          <span><%= data %></span>
        </li>
<!-- 
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/uploadpage">upload</a>
        </li> -->

        <!-- 나의 통계 -->
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/list">Statistics</a>
        </li>

      </ul>
      <form class="" role="">
        <!-- <button class="btn btn-outline-secondary" type="submit"><a href="/mypage">My page</a></button>
        <button class="btn btn-outline-primary" type="submit"><a href="/login">로그인</a></button>
        <button class="btn btn-outline-secondary" type="submit"><a href="/register">회원가입</a></button> -->
      </form>
    </div>
  </div>
</nav>